<h2>Fundamentals</h2>

<div class="faq-questions-holder">
	<h5>What is Customer Discovery Ninja?</h5>
	<p>Customer Discovery Ninja is a lean startup tool built to help validate a new idea, business, 
product, or service by conducting first-hand market research with US consumers. Instead 
of figuring out and worrying about who to talk to and how to reach them, Customer 
Discovery Ninja has people call you. This provides both convenience and unbiased 
feedback.</p>
</div>

<div class="faq-questions-holder">
	<h5>What is Customer Development / Customer Discovery?</h5>
	<p>Customer Development is a four-step framework developed by serial entrepreneur and 
business school Professor Steve Blank for discovering and validating the right market for 
your idea, building the right product features that solve customers’ needs, testing the 
correct model for acquiring and converting customers, and deploying the right 
organization and resources to scale the business.</p>
<p>Customer Discovery is the first stage in this process. It’s all about “getting out of the 
building” to learn more about your potential customers and their problems, not pitching 
your solution.</p>
</div>




<h2>FAQ</h2>

<div class="faq-questions-holder">
	<h5>Who will be calling me?</h5>
	<p>US consumers that, on average, are younger and more educated that the general 
population. Your results will vary but every caller will be from the US. You can also filter 
calls by requesting people that “live in a southern state” or “know a direct relative with 
ADHD”.</p>
</div>

<div class="faq-questions-holder">
	<h5>How many calls can I expect to receive?</h5>
	<p>This answer will vary depending on the time of day, how narrow your target customer is, 
timing, and a few other factors, but in general, you should expect to conduct 4, ten-minute 
interviews in an hour. If you’re lucky it could be as much as 6 in an hour; it could also be as 
low as 1 or 2.</p>
</div>

<div class="faq-questions-holder">
	<h5>I submitted my interview request, when will people start calling? </h5>
	<p>There is usually a 5-10 minute delay before you receive your first call but it could be a little 
longer if your target customer is narrowly defined.</p>
</div>

<div class="faq-questions-holder">
	<h5>Why do people take time to call in and talk to me? </h5>
	<p>Callers are paid a small reward for their time and effort for calling in and speaking with 
you. Most callers do this because they are killing time – it’s a substitute for solitaire, not a 
job.</p>
</div>

<div class="faq-questions-holder">
	<h5>How do I know people won’t just call in and not talk or give good answers?</h5>
	<p>You provide a simple reward code to them at the completion of your interview that 
confirms they answered your questions appropriately.</p>
</div>

<div class="faq-questions-holder">
	<h5>Doesn’t paying them mean there is a natural bias?</h5>
	<p>There is a slight bias known as the ‘Selection bias’ related to individuals opting-in to a study 
that is especially true when participants are paid. However, Customer Discovery Ninja is 
designed to be used in the early stages of an idea or venture to find out more about 
peoples’ problems in general. The callers are much less biased and impartial than friends, 
family, and other colleagues since they don’t know you. Additionally, customer discovery is 
a process that takes dozens of interviews to get proper data and recognize trends.</p>
</div>

<div class="faq-questions-holder">
	<h5>What if someone likes my idea and wants to steal it?</h5>
	<p>First of all, you shouldn’t be talking about your idea during these interviews. Second, the 
probability of someone hearing a sentence or two about your idea, stealing it, and 
executing it to completion is very low.</p>
</div>

<h2>Best Practices</h2>

<div class="faq-questions-holder">
	<h5>How can I get the most out of these interviews?</h5>
	<p>Proper interview techniques are an art, not a science. The best way to get better at them is 
to practice. You could also read up on ethnography and proper interview techniques online. 
Our friend Justin Wilcox of Customer Dev Labs also has a great post about proper 
interviewing techniques <a href="http://customerdevlabs.com/2013/11/05/how-i-interview-customers/">Click here Justin's post</a></p>
</div>

<div class="faq-questions-holder">
	<h5>I thought customers don’t know what they want?</h5>
	<p>That’s true – customers won’t tell you what solution to build, that’s your job. But they will 
tell you their problems worth solving.</p>
	<p>Henry Ford once said, “If I had asked people what they wanted, they would have said faster 
horses.” Most people think this quote means talking to customers is pointless but it still 
reveals a problem they were looking to solve – getting from point A to point B faster. Your 
job is to build the solution that solves this.</p>
</div>

<div class="faq-questions-holder">
	<h5>Why should a founder waste their time talking to customers?</h5>
	<p>We love founders; they’re a special breed that wants to change the world and will take a 
risk to do so. Since they’re the visionaries behind a new idea they need to conduct the 
market research first-hand, not outsource it to someone else. Customer discovery is testing 
your riskiest assumptions, many of which are wrong. When someone else reports back bad 
news they get fired, when a founder does, the team pivots. </p>
</div>

<div class="faq-questions-holder">
	<h5>Why don’t I just read all of the latest market reports instead of talking to customers?</h5>
	<p>Market reports are great for finding large trends to leverage but are not a replacement for 
in-depth interviews with real people.</p>
</div>

<div class="faq-questions-holder">
	<h5>Why don’t I just use a survey or focus group?</h5>
	<p>Surveys and focus groups are useful for fine-tuning a product or validating learnings at 
scale but again, they are not a replacement for first-hand conversations.</p>
</div>

<div class="faq-questions-holder">
	<h5>I’ve interviewed dozens of customers with your tool and learned a lot, now what?</h5>
	<p>Apply all of your learning to the next step. Set up a landing page to test your solution and 
see if people will start giving you some type of currency (an email address, money, referral, 
etc.). With all of your customer discovery interviews, you’ll know exactly what to say and 
have the best marketing copy of all – the words of your customer.</p>
</div>

<div class="faq-questions-holder">
	<h5>How do I turn these customer interviews into a positive for investors and raising money?</h5>
	<p>There’s nothing better than customer quotes and first-hand market research that shows 
your company is less risky to invest in. The best vision can easily be a hallucination without 
testing it in the real world. </p>
</div>