<div class="home-test-main">
	<div class="main-liner">
		<h3>Trying to validate your startup idea?</h3>
		<h6>Get on-demand interviews with customers in <i>your</i> target market</h6>
		<br>
		<button ng-hide="fromMILVALCHAL()" class="btn btn-clear" style="width:100%;" ng-click="goToPage('/signup')" analytics-on analytics-event="Button Click" analytics-category="Call to Actions" analytics-label="Landing Page Top CTA">TALK TO YOUR CUSTOMERS</button>
		<button ng-show="fromMILVALCHAL()" class="btn btn-clear" style="width:100%;" ng-click="goToPage('/alphalogin')" analytics-on analytics-event="Button Click" analytics-category="Call to Actions" analytics-label="Landing Page Top CTA - MILVALCHAL">TALK TO YOUR CUSTOMERS</button>
	</div>
	
<div id="main-video"><iframe src="http://player.vimeo.com/video/111801538?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="638" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen analytics-on analytics-event="Play" analytics-category="Video" analytics-label="Landing Page Video"></iframe></div>
</div>
<div class="ninja-creep">
	<div><img id="big-ninja" src="assets/FINAL_PNG_ONLY_PHONE.png"></div>
</div>

<div class="home-test-second" id="what">
	<h3>What it Does</h3>
	<h6>Validate your idea by listening to your target customers talk about their problems</h6>
	<div class="benefit-list">
			<div class="benefit">
				<div class="benefit-icon"><span class="glyphicon glyphicon-user"></span></div>
				<div class="benefit-text">
					<p class="benefit-text-header">Real US Consumers</p>
					<p>We use a pool of hundreds of thousands of real US consumers, ready to call you.</p>
				</div>
			</div>
			<div class="benefit">
				<div class="benefit-icon"><span class="glyphicon glyphicon-heart"></span></div>
				<div class="benefit-text">
					<p class="benefit-text-header">On-Demand Calls</p>
					<p>Interview whenever you want - submit a request and start receiving calls within minutes.</p>
				</div>
			</div>
			<div class="benefit">
				<div class="benefit-icon"><span class="glyphicon glyphicon-earphone"></span></div>
				<div class="benefit-text">
					<p class="benefit-text-header">In-browser Phone</p>
					<p>You get a dedicated phone number so you can take calls right in your browser.</p>
				</div>
			</div>
			<div class="benefit">
				<div class="benefit-icon"><span class="glyphicon glyphicon-pencil"></span></div>
				<div class="benefit-text">
					<p class="benefit-text-header">Easy Note Taking</p>
					<p>Take notes while you interview, score your interviews for easy reference.</p>
				</div>
			</div>
			<div class="benefit">
				<div class="benefit-icon"><span class="glyphicon glyphicon-record"></span></div>
				<div class="benefit-text">
					<p class="benefit-text-header">Record & Store Calls</p>
					<p>All calls are recorded so you can come back to them later.</p>
				</div>
			</div>
			<div class="benefit">
				<div class="benefit-icon"><span class="glyphicon glyphicon-share"></span></div>
				<div class="benefit-text">
					<p class="benefit-text-header">Share with Teammates</p>
					<p>Let teammates and investors listen to calls and update notes for easy collaboration.</p>
				</div>
			</div>
	</div>


</div>

<div class="home-test-third" id="why">
	<h3>Why You Care</h3>
	<a name="why"></a>
		<p class="quote-sub"><span>Talk to dozens of potential customers so you have a better understanding of what to build.</span></p>
		<ul style="list-style-type:none;">
				<li><span class="glyphicon glyphicon-arrow-right"></span> “Most phenomenal startup teams create businesses that ultimately fail. Why? They built something that nobody wanted.”<span style="color: #34495E; font-weight:bold;"> – Eric Reis, Lean-Startup Pioneer</span></li><br>
			</ul>
			<p class="quote-sub"><span>Validate your idea and start building a product that your customers need!</span></p>
			<ul style="list-style-type:none;">
				<li><span class="glyphicon glyphicon-arrow-right"></span> “The number one reason startups fail is not because they fail to build what they set out to build, but because they spend too much time, money, and effort building the wrong product.” <span style="color: #34495E; font-weight:bold;"> –
				Ash Maurya, Author <i>Running Lean</i></span></li><br>
			</ul>
			<p class="quote-sub"><span>Don't build in a black box and pray for customers; use Customer Discovery Ninja to have US consumers call <u>you.</u></span></p>
			
			<ul style="list-style-type:none;">
				<li><span class="glyphicon glyphicon-arrow-right"></span> </span>“’Build it and they will come,’ is not a strategy; it’s a prayer.”<span style="color: #34495E; font-weight:bold;"> – Steve Blank, Author <i>Startup Owner's Manual</i></li><br>
			</ul>
			
			
			<br>
</div>

<div class="home-test-fourth" id="value">
	<h3>Value</h3>
	<h6>Don't spend years of your time and thousands of dollars building something nobody wants!</h6>
	<div class="pricing-compare">
		<div>
			<p class="pricing-header">$20/mo. + $5/interview</p>
			<p id="compare-title">Customer Discovery Ninja</p>
			<ul>
				<span style="color: white;"><li>4 free interviews each month</li></span>
				<li>Unlimited recorded calls</li>
				<li>30 Day Satisfaction Guarantee</li>
				<li>Bulk interview pricing available</li>
				<li>Don't <i>you</i> want to be a Ninja?</li>
			</ul>
			<br>
			<button ng-hide="fromMILVALCHAL()" class="btn btn-clear" style="color: white; width: 100%;" ng-click="goToPage('/signup')" analytics-on analytics-event="Button Click" analytics-category="Call to Actions" analytics-label="Landing Page Value CTA">VALIDATE YOUR IDEA</button>
			<button ng-show="fromMILVALCHAL()" class="btn btn-clear" style="color: white; width: 100%;" ng-click="goToPage('/alphalogin')" analytics-on analytics-event="Button Click" analytics-category="Call to Actions" analytics-label="Landing Page Value CTA - MILVALCHAL">VALIDATE YOUR IDEA</button>
		</div>
		<div id="compare-sign">
			VS.
		</div>
		<div id="compare-right">
			<p class="pricing-header">Years + Thousands $$$</p>
			<p>Hiding in your cave, guessing</p>
			<ul>
				<li>Guessing what customers will want</li>
				<li>Months or years in development</li>
				<li>Thousands of $$$ building your guess</li>
			</ul>
		</div>
	</div>

	<!-- <div class="pricing">
		<div class="pricing-monthly">
			<h4>$20/month</h4>
			<ul>
				<li>30 day free trial</li>
				<li>Unlimited recorded calls</li>
				<li>4 Free Interviews Each Mo.</li>
			</ul>
		</div>
		<div class="plus-sign-holder">
			<div id="plus-sign-rounded"></div>
		</div>
		
		<div class="pricing-interviews">
			<h4>$5/interview</h4>
			<ul>
				<li>10-15 min each</li>
				<li>1st Interview is Free</li>
				<li>Interviews on your time</li>
				<li>Bulk Pricing Available</li>
			</ul>
		</div>
	</div> -->

</div>

<div class="home-test-fifth">
	<h3>Who We Are</h3>
	<div class="who-sub">
		<div>
			<h6>Contact</h6>
			<p><a href="https://twitter.com/customer_ninja" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @customer_ninja</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
			<p>Email us with questions, comments, fun facts &amp (required) cool pictures of ninjas: <a href="mailto:info@ecustomerdiscovery.ninja?Subject=I%20have%20a%20question" target="_top">
			Info@CustomerDiscovery.Ninja</a></p>

			<button class="btn btn-clear-dark" style="color: #34495e; width: 100%;" ng-click="goToExternal('https://calendly.com/szsherman/customer-discovery-ninja-interview/')" analytics-on analytics-event="Button Click" analytics-category="Call to Actions" analytics-label="Landing Page Talk to Founder">TALK TO A FOUNDER FOR FREE</button>
			<!--<p>&copy 2014 Customer Discovery Ninja</p>-->
		</div>
		<div>
			<h6>Awesome Insight</h6>
			<p>Learn how to become a Ninja <a href="http://blog.customerdiscovery.ninja" target="_blank">with our blog</a></p>
			<p>Check out the <a href="http://www.customerdevlabs.com" target="_blank">Customer Dev Labs blog</a></p>
			<p>Here are some <a href="https://www.google.com/search?site=&tbm=isch&source=hp&biw=1280&bih=622&q=funny+ninja&oq=funny+ni&gs_l=img.1.2.0l8.1423.3576.0.7779.8.6.0.2.2.0.87.416.5.5.0....0...1ac.1.58.img..1.7.430.vBiLpfjakok" target="_blank">Funny Ninja Pictures</a></p>
			<p><a href="http://www.customerdiscoveryninja.uservoice.com" target="_blank">Support</a></p>
		</div>
	</div>
	
</div>

<!-- Modal template for angular to use -->
<script type="text/ng-template" id="signup.html">
		<div class="modal-header">Become a Customer Discovery Ninja</div>
       <form name="newUserForm" novalidate ng-submit="newUser()">
       		{{setFormReference(newUserForm)}}
			  <div class="modal-body">
			  	<div class="form-group">
				    <label for="name">Name</label>
				    <input type="text" class="form-control" id="name" ng-model="newUserForm.name"/>
			    </div>
			    <div class="form-group">
				    <label for="email">E-mail</label>
				    <input type="text" class="form-control" id="email" ng-model="newUserForm.email"/>
			    </div>
			    <div class="form-group">
				    <label for="password">Password</label>
				    <input type="password" class="form-control" id="password" ng-model="newUserForm.password"/>
			    </div>
			    <div class="form-group">
				    <label for="password2">Confirm Password</label>
				    <input type="password" class="form-control" id="password2" ng-model="newUserForm.password2"/>
			    </div>
			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-primary" type="submit">Let's Go!</button>
			    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			  </div>
			</form>
		</script>

<script type="text/ng-template" id="untorch.html">
		<div class="modal-header">We're Still in Beta</div>
		<div class="modal-body">
		<div>
		<p>Enter your e-mail below to stay in the loop</p> 
		<p>Share with 5 friends to cut the line & get <strong>50 free interviews!</strong></p>
		</div>
       		<div class="panel untorch-panel">
			<!--untorch email signup-->
			
				<div>
					<div class="form-group">
				    	<input type="text" class="form-control" placeholder="Email Address" data-untorch-element="email"/>
					</div>
					<button class="btn btn-primary untorch-btn-cta" data-untorch-element="submit">Let me cut the line</button>
				</div>
			</div>
			<div class="modal-footer">
			    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			  </div>
		</div>
		</script>



