
<div class="home home-top">
	<h1>Customer Interviews for Start-Ups</h1>
	<h4 class="home-subline">Your potential customers, <span style="color:#27ae60; font-weight:bold;">calling you</span></h4><br>

	<div class="home-sub">
		<div>
			<img src="assets/FINAL_PNG_ONLY_PHONE.png" id="cdn-logo">
		</div>
		<div class="home-single grow-double">
			<ul class="home-hiw-list">
				<li><span class="glyphicon glyphicon-ok list-icon"></span>Customer discovery interviews on your time</li>
				<li><span class="glyphicon glyphicon-ok list-icon"></span>No more awkwardly stopping strangers or bugging your friends</li>
				<li><span class="glyphicon glyphicon-ok list-icon"></span>No more surveys that provide little insight</li>
				<li><span class="glyphicon glyphicon-ok list-icon"></span>Get the unbiased market research that investors want</li>
				<li><span class="glyphicon glyphicon-ok list-icon"></span>Record calls and take notes right in your browser</li>
			</ul>
		</div>
		
	</div>
		<!--<p><strong style="color: #34495E;">Sign up below for early access, get 50% off!</strong></p>-->
		<div class="panel untorch-panel">
			<script type="text/javascript" data-untorch-campaign="157" src="http://untorch.com/js/untorch.js"></script>
			<!--untorch email signup-->
			
				<div>
					<div class="form-group">
				    	<input type="text" class="form-control" placeholder="Email Address" data-untorch-element="email"/>
					</div>
					<button class="btn btn-primary untorch-btn-cta" data-untorch-element="submit">Give Me Early Access</button>
				</div>
			</div>
</div>


<div class="home home-second">
	<h2 class="secondary-titles">How It Works</h2>
	<div class="home-sub">
		<div class="home-single">
			<ul class="home-hiw-list">
				<li><span class="glyphicon glyphicon-send list-icon"></span>You request live, 10-15 minute phone interviews with US consumers</li>
				
				<li><span class="glyphicon glyphicon-earphone list-icon"></span>Your browser starts ringing for an interview</li>
				<li><span class="glyphicon glyphicon-pencil list-icon"></span>Ask questions, listen, &amp take notes right in our app</li>
				<li><span class="glyphicon glyphicon-record list-icon"></span>We'll record the call so you can come back to it later</li>
				<li><span class="glyphicon glyphicon-thumbs-up list-icon"></span>Validate your idea and make it happen!</li>
				<li><span class="glyphicon glyphicon-credit-card list-icon"></span>Each interview costs just $5.00</li>
			</ul>
		</div>
	</div>
</div>

<div class="home home-third">
	<h2 class="secondary-titles">Why</h2>
	<div class="home-sub">
		<div class="home-single">
			<p>“’Build it and they will come,’ is not a strategy; it’s a prayer.”<span style="color:#27ae60; font-weight:bold;"> – Steve Blank</span>
			<ul style="list-style-type:none;">
				<li><span class="glyphicon glyphicon-arrow-right"></span> Use Customer Discovery Ninja to have US consumers call <u>you.</u></li><br>
			</ul></p>
			<p>“Most phenomenal startup teams create businesses that ultimately fail. Why? They built 
				something that nobody wanted.”<span style="color:#27ae60; font-weight:bold;"> – Eric Reis</span></p>
			<ul style="list-style-type:none;">
				<li><span class="glyphicon glyphicon-arrow-right"></span> Validate your idea and start building your business today!</li><br>
			</ul></p>
			<p>“The number one reason startups fail is not because they fail to build what they set out to 
				build, but because they spend too much time, money, and effort building the wrong product.” <span style="color:#27ae60; font-weight:bold;"> –
				Ash Maurya</span></p>
			<ul style="list-style-type:none;">
				<li><span class="glyphicon glyphicon-arrow-right"></span> Talk to dozens of potential customers so you have a better understanding of what to build.</li>
			</ul></p>
			<br>
		</div>

	</div>
	<div>
				<div class="panel untorch-panel">
				<div>
					<div class="form-group">
				    	<input type="text" class="form-control" placeholder="Email Address" data-untorch-element="email"/>
					</div>
					<button class="btn btn-primary untorch-btn-cta" data-untorch-element="submit">Give Me Early Access</button>
				</div>
			</div>
			</div>
</div>

<div class="home home-third">
	<h2 class="secondary-titles">Find Out More</h2>
	<div class="home-sub">
		<div class="home-single">

			<p>If you’ve followed the lean startup revolution, you know that customer discovery is an 
			extremely important aspect of starting a company: validate your idea by talking to customers 
			before spending time and money building the <u>wrong</u> product or service.</p>
			<p>But who do you talk to? Friends? Family? Other fools?</p> 
			<p>That’s why we created <span style="color:#27ae60; font-weight:bold;">Customer Discovery Ninja.</span> Don’t worry about the <i>who</i> or <i>how</i> of customer discovery logistics – use our tool to talk with real people and validate your business.</p>
			<p>Our product was inspired by Justin Wilcox of <a href="http://www.customerdevlabs.com">Customer Dev Labs</a> who posted  <a href="http://customerdevlabs.com/2012/08/21/using-mturk-to-interview-100-customers-in-4-hours/">this hack for getting customer discovery interviews.</a></p>
			<p>Still have questions? E-mail: <a href="mailto:info@customerdiscovery.ninja">info@customerdiscovery.ninja</a></p>

			<p>Or check out our <a href="#/home/faq">FAQ Page</a></p>
			
		</div>

	</div>
	<div class="panel untorch-panel">
				<div>
					<div class="form-group">
				    	<input type="text" class="form-control" placeholder="Email Address" data-untorch-element="email"/>
					</div>
					<button class="btn btn-primary untorch-btn-cta" data-untorch-element="submit">Give Me Early Access</button>
				</div>
			</div>
</div>
