<h4>Set Questions</h4>
<form ng-submit="newQuestions()">
	<div class="form-group">
		<label for="title" class="input-label">Title</label>
	    <input type="text" class="form-control" id="title" ng-model="title">
	</div>
    <div text-angular ta-toolbar="[['bold','italics', 'underline'],['ul','ol'] ,['justifyLeft', 'justifyCenter', 'justifyRight'],['undo', 'redo'], ['indent', 'outdent']]" ng-model="questions"></div>
    <button type="submit" class="btn btn-success btn-lg">Save Questions</button>
  </form>
  <button type="button" class="btn btn-default btn-lg" ng-click="returnToProject()">Return to Project</button>
