<div class="home-test-main">
	<div class="main-liner">
		<h3>Trying to validate your startup idea?</h3>
		<h6>Get on-demand interviews with customers in <i>your</i> target market</h6>
		<br>
		<button class="btn btn-clear" style="width:100%;" ng-click="goToPage('/alphalogin')" analytics-on analytics-event="Button Click" analytics-category="Call to Actions" analytics-label="Landing Page Top CTA - MILVALCHAL">TALK TO YOUR CUSTOMERS</button>
	</div>
	
<div id="main-video"><iframe src="http://player.vimeo.com/video/111801538?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="638" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen analytics-on analytics-event="Play" analytics-category="Video" analytics-label="Landing Page Video"></iframe></div>
</div>