<img src="styles/crowd-cut.png" id="home-background-img">
<div class="home-main">
	<div class="home-top2 split-half">
		<div>
			<h3 class="home-subline">Your potential customers. Calling you!</h3>
		</div>
		<div> 
			<ul style="list-style: none;">
				<li>Fastest way to <span class="main-highlight-item">validate</span> your business idea</li>
				<li><span class="main-highlight-item">Live interviews</span> with target customers</li>
				<li>Interviews <span class="main-highlight-item">on your time</span> &amp recorded for later</li>
			</ul>
		</div>
		
		<div class="panel">
				<div>
					<div class="form-group">
				    	<input type="text" class="form-control" placeholder="Email Address" data-untorch-element="email"/>
					</div>
					<button class="btn btn-primary untorch-btn-cta" data-untorch-element="submit">Early Access - 40 interviews for $98</button>
				</div>
		</div>
		<div>
			<p><i>"Customer Discovery Ninja helped me prove I'm building something people actually want. There's nothing like 'getting out of the building' at home."</i><br> - Nick DeHaan, Entreprenuer</p>
		</div>
	</div>
</div>
<div class="home-secondary">
	<div class="home-secondary-item">
		<h6>Who</h6>
		<p>Pick your target audience and our pool of US consumers will call you within minutes. No more stopping strangers on the street or surveys that provide little insight.</p>
	</div>
	<div class="home-secondary-item">
		<h6>How</h6>
		<p>10-15 minute live phone interviews with your target customers / demographic. Your browser will ring and you can take notes right in the app. Listen to the recordings later.</p>
	</div>
	<div class="home-secondary-item">
		<h6>Why</h6>
		<p>The number one reason startups fail is because they don't build something that solves an actual problem - they end up building something nobody wants.</p>
	</div>
</div>

