
<h3>Setup Step {{setupStep}} of 3</h3>
<p>Please complete this process, it is quick and you only have to do it once!</p>



<div ng-show="setupStep == 1">
	<h4>$29/month</h4>
	<ul>
		<li>Unlimited calls &amp interviews</li>
		<li>Unlimited minutes of recorded interviews</li>
		<li>No hidden fees, just super simple pricing</li>
	</ul>
	<form stripe-form="handleStripe" name="myForm">
    <div class="billing-form-holder">
      <div class="form-row">
        <div class="form-group">
            <label for="">Card number</label>
            <input type="text" class="input-block-level form-control" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type"/>
          </div>
      </div>
      <div class="form-row form-row-double">
            <div class="form-group">
            <label for="">Expiry (MM/YYYY)</label>
            <input type="text" class="input-block-level form-control" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
          </div>
          
          <div class="form-group">
            <label for="">CVC</label>
            <input type="text" class="input-block-level form-control" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type"/>
          </div>
      </div>
      <div class="form-row">
         <div class="form-group">
            <label>Got a coupon?</label>
            <input type="text" ng-model="givenCode" class="form-control" ng-keyup="findCoupon()"/> {{couponHelperMsg}}
        </div>
      </div>

      <div class="form-row">
        <button type="submit" class="btn btn-primary btn-lg">
        Submit</button>
      </div>
    </div>    
</form>
</div>


<div ng-show="setupStep == 2">
	<h3>Welcome, {{user.get('name')}}</h3>
	<h4>Why don't you tell us what you're working on?</h4>
	<form name="newProjectForm" novalidate ng-submit="submitProject()">
			  <div>
			  	<div class="form-group">
				    <label for="title">Whats the name of your company?</label>
				    <input type="text" class="form-control" id="title" ng-model="projectTitle" style="width: 25%;"/>
			    </div>
			    <div class="form-group">
				    <label for="description">Tell us a little about it:</label>
				    <input type="text" class="form-control" id="description" ng-model="projectDescription" style="width: 60%;"/>
			    </div>
			  </div>
			  <label>Want to upload you're logo? You're customers will see this on the scheduling page.</label>
			  <input type="file" id="profilePhotoFileUpload">
			  <div>
			    <button class="btn btn-primary" type="submit">Next</button>
			  </div>
			</form>
</div>

<!-- <div ng-show="setupStep == 3">
	<h3>{{projectTitle}} Sounds Sweet!</h3>
	<h4>Let's setup a dedicated phone number so your customers can call you</h4>
	<div class="form-group">
	    <label for="areacode">Search with a 3-digit area code (or just click "Find Numbers!)"</label>
	    <input type="text" class="form-control" id="areacode" ng-model="areaCode" style="width: 10%;"/>
    </div>
    <button class="btn btn-primary" ng-click="getPhoneNumbers()">Find Numbers!</button>
    <div ng-repeat="numb in availNumbers | limitTo: 5" class="phonenumbers">
			{{numb.friendly_name}} <button class="btn btn-sm btn-success" ng-click="purchaseNumber(numb.phone_number, numb.friendly_name)">This One</button>
	</div>
</div> -->

<div ng-show="setupStep == 3">
	<h3>Last Step!</h3>
	<h5>Now, let's show you how a call actually happens.</h5>
	<p style="font-size: 1.2em;">You now have UserFlock phone number! </p>
	<ul>
		<li>From another phone, call your number. Its <strong>{{userPhoneNumber}}</strong></li>
		<li>Your browser will ring and show a popup for you to accept the call.</li>
		<li>You'll <strong>automagically</strong> be directed to the page where you can take notes.</li>
		<li>Depending on your browser, you may have to allow use of your microphone.</li>
	</ul>
	<p>You can  send your customers to this unique link so they can schedule a call: </p>
	<p><pre>http://userflock.parseapp.com/#/schedule/{{ calendarNumber }}</pre></p>
<!--   <p><pre>http://userflockdev.parseapp.com/#/schedule/{{ calendarNumber }}</pre></p> -->
  <i>Note: After the setup, you'll need to set your availability.</i>
</div>

<!-- 
<div ng-show="setupStep == 4">
	<h4>What do you want to ask them?</h4>
	<p>Here is a template for questions you may want to ask during the interview. Feel free to edit them now or later. These questions will show up while you are talking to your potential customers so you can guide the conversation.</p>
	<p>Remember, don't pitch your solution. Have a conversation with them about their problems.</p>
    <div text-angular ta-toolbar="[['bold','italics', 'underline'],['ul','ol'] ,['justifyLeft', 'justifyCenter', 'justifyRight'],['undo', 'redo'], ['indent', 'outdent']]" ng-model="questions"></div>
    <button class="btn btn-primary" ng-click="saveQuests()">Next</button>
	
</div>

<div ng-show="setupStep == 5">
	<h2>This is important, please read!</h2>
	<p>The category and description of who you want to talk to is going to be submited to our pool of qualified participants. They are going to read what you've written and choose if they are a good fit for your request. If they do fit, they will call you.</p>
	<p>It is important that your posting makes sense <strong>even to someone who has NO IDEA what you are working on.</strong> Our participants are ONLY checking if they fit your criteria.</p>
	<p>Preview your submission to ensure that it reads like a sentence and makes sense to someone who doesn't know what you are working on.</p>
	<br>
	
	<div class="submitPreview">
		<h4>Does this make sense?</h4>
		<p><strong>Title:</strong>This conversation will be about {{targetTitle}}</p>
		<p><strong>Description:</strong>I want to talk to anyone who {{targetDescription}}</p>
		<input id="agree" type="checkbox" ng-model="doesItMakeSense">
		<label for="agree">Yes, the above makes sense</label><br>
		<button class="btn btn-warning" ng-click="setStep(3)">No, I need to change this</button>
		<button class="btn btn-default" ng-click="saveItAll()" ng-disabled="!doesItMakeSense">Save for Later</button>
		<button class="btn btn-primary" ng-click="open()" ng-disabled="!doesItMakeSense">Have Someone Call Me!</button>
	</div>
</div>
 -->



<script type="text/ng-template" id="submitInterviews.html">
		<div class="modal-header"><h5>Here is what is about to happen</h5></div>
       <form name="intReqForm" novalidate ng-submit="requestHIT()">
       		{{setFormReference(intReqForm)}}
			  <div class="modal-body">

				<ol>
					<li>We'll send your request off to our pool of participants</li>
					<li>They'll review and decide to call you or not</li>
					<li>It may take about 10-15 minutes for calls to start coming in</li>
					<li>When they call, your browser will ring</li>
					<li>When you answer, you'll be re-directed to our note taking page</li>
					<li>Have the conversation and take some notes</li>
					<ul>
						<li>The call is being recorded so you can listen to it later</li>
					</ul>
					<li style="color:red"><strong>At the end of the conversation:</strong></li>
					<ul>
						<li>Give the person the confirmation code you type in below</li>
						<li>They'll probably ask you for the "Answer" or "Code"</li>
						<li>This is how they get paid!</li>
						<li>Keep it simple like, "Chicago" or "Baseball"</li>
					</ul>
				</ol>
			  	<div class="form-group">
				    <label for="confirm">Confirmation Code</label>
				    <input type="text" class="form-control" id="confirm" ng-model="intReqForm.confirm" style="width:30%;"/>
			    </div>
			  </div>
			  <div class="modal-footer">
			    <button class="btn btn-primary" type="submit">Have someone call me!</button>
			    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
			  </div>
			</form>
		</script>
