<h2>Request Sent!</h2>

<div class="todoholder">
	<div>
		<h4>What Happens Now?</h4>
		<ul>
			<li>We've sent your request to our pool of participants.</li>
			<li>They'll read your request and see if they fit who you're looking for.</li>
			<li>If they do, they'll call you and your browser will ring.</li>
		</ul>
	</div>
	<div>
		<h4>What should you do?</h4>
		<ul>
			<li>Just leave this browser tab open, there will be a ring &amp alert when a call comes in.</li>
			<li>See that timer at the top? Calls could come in during that time.</li>
			<li>It may take some time for calls to come, and its possible that none will come.</li>
		</ul>
	</div>
	<div>
		<h4>What Else?</h4>
		<ul>
			<li>When the call comes in, the 'take notes' page will come up automatically.</li>
			<li>You can get to it by clicking 'Take Notes' from the dropdown in the top right.</li>
			<li>Try calling it from your phone and answering, just to see what happens.</li>
			<li>Your browser phone number is <strong>{{ userPhone }}</strong>.</li>
		</ul>
	</div>
</div>
<div class="todoholder">
	<img id="whatnextimg" src="assets/take_notes.png">
</div>