<nav class="navbar navbar-inverse navbar-fixed-bottom nav-bar-attention" role="navigation" ng-controller="NavCtrl" ng-hide="isLoggedIn()">
     <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
              <span class="sr-only">Toggle navigation</span>
            </button>
          
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-02">
          <div class="milvalCTA">
            <p>Want $5k in funding at a $1M valuation?<button class="milvalbutton" onclick="window.open('http://www.bitly.com/milvalchal'), '_blank'">I Want Funding</button></p>
            
          </div>
              
            <!-- Inverse look -->
            
                 
          </div><!-- /.navbar-collapse -->

</nav>


         
